
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");     
@import url("https://fonts.googleapis.com/css?family=Mitr:400|Bebas+Neue:400");
@import url("https://fonts.googleapis.com/css?family=Mitr:400|Merriweather:400");

     

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}


.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #cc710f;
  --text-color: rgb(0, 0, 0);
}

a:link,
a:visited {
  color: var(--text-color);
}

a:hover,
a:active {
  color: var(--primary-color);
}


a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: #cc710f;
}

a:active {
  color: #cc710f;
}

a:link, a:visited {
  text-decoration: none;

}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: 2px solid #cc710f; /* Or any color that fits your design */
  outline-offset: 2px;
}
/* screen - desktop-1 */
  
.desktop-1 {
  background-color: transparent;
  margin: 0px;
  min-height: 1024px;
  min-width: 1440px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.desktop-1 .frame-1-C61RwL {
  --z-index: 0;
  background-color: #d2d2d2;
  border-radius: 10px;
  box-shadow: 11px 11px 35px #525655a8;
  height: 743px;
  left: 73px;
  opacity: 1;
  position: absolute;
  top: 188px;
  width: 1293px;
}

.desktop-1 .group-1-WzCX2w {
  --z-index: 0;
  background-color: transparent;
  height: 105px;
  left: 229px;
  opacity: 1;
  position: absolute;
  top: -67px;
  width: 836px;
}

.desktop-1 .logo-2-iBmTg4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(/static/images/logo-1.png);
  background-size: 100% 100%;
  height: 575px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  width: 836px;
}

.desktop-1 .ellipse-1-iBmTg4 {
  --z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, rgb(93.00000205636024, 98.00000175833702, 97.00000181794167) 0%, rgba(93.00000205636024, 98.00000175833702, 97.00000181794167, 0) 100%);
  background-color: transparentInconsistent use of tabs and spaces in indentationPylance;
  border-radius: 260.5px/14.5px;
  height: 29px;
  left: 157px;
  opacity: 1;
  position: absolute;
  top: 729px;
  width: 521px;
}

.desktop-1 .likwidz-WzCX2w {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Mitr', Helvetica;
  font-size: 93px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 213px;
  width: 386px;
}

.desktop-1 .search-1-1-C61RwL {
  --z-index: 3;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/search--1--1.png);
  background-size: 100% 100%;
  height: 47px;
  left: 1320px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  width: 46px;
}

.desktop-1 .shopping-cart-1-1-C61RwL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/shopping-cart--1--1.png);
  background-size: 100% 100%;
  height: 47px;
  left: 1263px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  width: 44px;
}

.desktop-1 .cart__count {
  z-index: 1;
  position: absolute;
  right: 7px;
  top: -10px;
  display: inline-block;
  padding: 2px 7px;
  color: #fff;
  background-color: rgb(255, 0, 0);
  border-radius: 100%;
}

.desktop-1 .user-1-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/user-1.png);
  background-size: 100% 100%;
  height: 47px;
  left: 1210px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  width: 46px;
}

.desktop-1 .user-1-C61R {
  --z-index: 1;
  background-color: transparent;
  background-image: url(/static/images/user.png);
  background-size: 100% 100%;
  height: 47px;
  left: 1210px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  width: 46px;
}

.desktop-1 .logo-1-C61RwL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/logo-1.png);
  background-size: 100% 100%;
  height: 164px;
  left: 26px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 177px;
}

.desktop-1 .home-C61RwL {
  --z-index: 5;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 391px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 105px;
}

.desktop-1 .home-C61RwL:hover{
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: #cc710f;
}

.desktop-1 .shop-C61RwL {
  --z-index: 6;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 508px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 105px;
}

.desktop-1 .shop-C61RwL:hover{
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: #cc710f;
}      

.desktop-1 .pre-order-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 613px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 189px;
}

.desktop-1 .pre-order-C61RwL:hover{
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: #cc710f;
} 

.desktop-1 .tracker-C61RwL {
  --z-index: 8;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 802px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 134px;
}

.desktop-1 .tracker-C61RwL:hover{
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: #cc710f;
} 

.desktop-1 .about-us-C61RwL {
  --z-index: 9;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 966px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 62px;
  white-space: nowrap;
  width: 146px;
}

.desktop-1 .about-us-C61RwL:hover{
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: #cc710f;
} 

.desktop-1 .likwidz123456-1-zUixHi{
  --z-index: 4;
  background-color: transparent;
  background-image: url(/media/uploads/products/Drip_Likwidz-Blue-23-Blue-3-600x600_1.jpg);
  background-size: 100% 100%;
  height: 822px;
  left: calc(50.00% - 290px);
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 906px;
  mix-blend-mode: multiply;
}

.desktop-1 .likwidz123-457-zUixHA {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/likwidz123-457-1.png);
  background-size: 100% 100%;
  height: 532px;
  left: 868px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  width: 90px;
}

.desktop-1 .likwidz1-23458-zUixHA {
  --z-index: 1;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/likwidz1-23458-1.png);
  background-size: 100% 100%;
  height: 244px;
  left: 923px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 655px;
  width: 35px;
}

.desktop-1 .likwidz12-3458-zUixHA {
  --z-index: 2;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/65c5e72ee1d47795da781abd/releases/65c5e76a7fc157c12e418565/img/likwidz12-3458-1.png);
  background-size: 100% 100%;
  height: 81px;
  left: 352px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 818px;
  width: 606px;
}

.desktop-1 .likwidz123456-1-zUixHA {
  --z-index: 3;
  background-color: transparent;
  background-size: 100% 100%;
  height: 822px;
  left: calc(50.00% - 290px);
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 906px;
}

  h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
  
  .desktop-1 .likwidz123456-1-zUix{
    background-size: 100% 100%;
    height: 822px;
    left: calc(50.00% - 290px);
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 906px;
    mix-blend-mode: multiply;
  }
  #slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 11px 11px 35px #525655a8;
    width: 1293px;
  }
  
  #slider ul {
    position: relative;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    --z-index: 0;
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1293px;
    height: 743px;
    border-radius: 10px;
    box-shadow: 11px 11px 35px #525655a8;
    text-align: center;
    line-height: 300px;
    
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 50%;
    z-index: 999;
    display: block;
    padding: 4% 1%;
    width: auto;
    height: auto;
    background: #000000;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
    
    border-radius: 45px;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
     border-radius: 45px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
/*///////////////end slide////////////////////*/
  .elementor-custom-embed-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
  }
  .contain {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: self-end;
    gap: 20px;  
    position: relative;
    top: 188px;
    margin: 60px 0px 250px 0px;
    
       }
       
 .product-card {
   width: 300px;
   border-radius: 10px;
   -webkit-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
   -moz-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
   box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
   margin: 60px 0px 60px 0px;
   background-color: #fff;
  }

  .product-cards {
    width: 1250px;
    height: 750px;
    border-radius: 10px;
    -webkit-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
    -moz-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
    box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
    margin: 50px 0px 10px 0px;
    background-color: #fff;
   }
    
       
 .product-image {
   height: 300px;
   overflow: hidden;
   position: relative;
   top:-90px;
   padding: 10px;
   }

.product-images {
  overflow: hidden;
  position: relative;
  margin: 60px 0px 60px 0px;
  padding: 0px 50px 0px 50px;
  }

.product-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s;
   border-radius: 10px;
   mix-blend-mode: multiply;
   }

.product-images img {  

  max-width:100%;
  margin-left:-50px;
  margin-top:60px;
  object-fit:scale-down;
  transition: transform 0.5s;
  border-radius: none;
  mix-blend-mode: multiply;
  float: left;
  }
       
  .product-image:hover img {
   transform: scale(1.1);
         
   }
  
.product-images, .product-detail{
  width: 55%;
  padding: 0 calc(5% - 1px);

  }

  .product-details {
    padding: 20px;
    margin-top:-90px;
    }

.product-detail{
  float:right;
    
  }

.product-detail {
  margin: -100px;
  margin-top:-600px;
  }

  .product-title {
   font-weight:900;
   font-size: 1.2rem;
   margin-bottom: 10px;
   }

.product-titles {
font-family: "Bebas Neue", sans-serif;
font-weight:900;
font-style: normal;
font-size: 3rem;


}

.stock{
  font-family: "Bebas Neue", sans-serif;
  font-weight:900;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 90px
}
       
 .product-price {
   font-size: 1.25rem;
   font-weight: bold;
   margin-bottom: 10px;
   }

.product-prices {
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size:2.25rem;
margin-bottom: 10px;
}

 .product-description {
   font-size: 1rem;
   line-height: 1.5;
   margin-bottom: 10px;
   color: #666;
    }
.product-descriptions {
  font-family: "Merriweather", sans-serif;
  font-weight: 100;
  font-style:normal;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #000000;
  padding-right: 150px;
  margin-top: 90px;
    }     

 .product-details.expand {
   height: auto;
  }
  .product-detail.expand {
    height: auto;
   }
      
       
 .product-details .expand-button {
   cursor: pointer;
   font-size: 1rem;
   color: #666;
   text-align: center;
   margin-top: 10px;
   }

.product-detail .expand-button {
  cursor: pointer;
  font-size: 4rem;
  color: #0a0a0a;
  text-align: center;
  margin-top: 10px;
  }
       
 .product-details .expand-button:hover {
   color: #000;
   text-decoration: underline;
   }
.product-detail .expand-button:hover {
color: #000;
text-decoration: underline;
}
       
 .rotate{
   transform: rotate(-45deg);
   }

   hgroup { 
    text-align:center;
    margin-top: 15em;
  }

  span {
      font-size: 0.95em;
      font-weight: 600;
      letter-spacing: 0.3em;
      line-height: 24px;
      text-transform: uppercase;
  }

  /*------------------------------------------------------------------
[ Login Form ]*/

.login {
  width: 900px;
  margin: 5em auto 0em;
  padding: 3em 2em 2em 2em;
  --z-index: 100;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 11px 11px 35px #525655a8;}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

.log-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  background: #ffffff;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.log-input:focus { outline: none; }

.login a {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #aaaaaa;
}

.left-align {
    float: left;
    text-align: left;
}

.right-align {
    float: right;
    text-align: right;
}
.login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
  
}
.login .message a {
  color: #000000;
  text-decoration: none;
}

.message a:hover{
  color: #cc710f;
}

/*------------------------------------------------------------------
[ popup alert message ]*/

.alert {
  padding: 20px;
  background-color: #cc710f;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.desktop-1 .logout {
  --z-index: 9;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1150px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 85px;
  white-space: nowrap;
  width: 60px;
}

/*------------------------------------------------------------------
[ Button same code as contact form ]*/

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: transparent;
    border: none;
    font-family: 'Bebas Neue', Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 24px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
    width: 100%;
}

input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
    color: #d4d0d0;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
    text-transform: uppercase;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  
.add-to-cart1 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.add-to-cart {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #000000;
}

.add-to-cart:hover {
  opacity: 0.8;
}
 
  .add-to-cart {
    background-color: #000000;
    }
      
.h2s{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  
}  
.sprite { 
  background: url(/static/images/sprite.png) no-repeat top left;  } 

.sprite.splash { 
  background-position: 0 160px; 
  width: 1349px; 
  height: 1549px;
}  

.client {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-elements{
  height: 60px;
  width: 500px;
  margin-top: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight:100;
  font-size: 2rem;
  }

.button-elements:hover{
  box-shadow: #c78126;
  opacity: 98;
  }

#add-to-cart, #favorite{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  }

#favorite{
  margin-top: 15px;
  background-color: white;
  border: 1px rgba(122,122,122,.5) solid;
  color: rgba(122,122,122,.5);
  }

#favorite:hover{
  border:1px  solid rgba(122,122,122,.6);
  color: #c78126;
  
  }
  
  .custom-select {
	position: relative;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 500px;
	font-size: 14px;
	padding: 5px 13px 5px 13px;
	background-color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 60px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #000000;
	border: 2px solid #C7C7C7;
	border-radius: 60px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 80px;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	background-color: #FFFFFF;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
}


   /*------panel-------*/
   .child{
    height: 100%;
    padding: 100px 0px 100px 0px;
   }
      
   .panels {
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1;
    width: 125vh;
    bottom:0px;
  }
  .panel {
    flex: 1;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
    
  }
  .panel__content {
    width: 100%;
    height: 102%;
    overflow: hidden;
    cursor: pointer;
    background: inherit;
  }
  .panel:before,
  .panel__content:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 102%;
  }
  .panel:before {
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  /* The non-CSS Var hover state */
  .panel:hover:before,
  .panel:focus:before {
    opacity: 1;
  }
  .panel:hover .panel__content,
  .panel:focus .panel__content {
    position: absolute;
    top: -1%;
    left: 0;
    z-index: 98;
    
  }
  /* If CSS Vars are supported... */
  @supports ( (--panel-support: 0) ) {
    .panel {
      --i: 0;
      --percent: calc( ((var(--i) - 1) / var(--items)) * 100 );
      
    }
    /* 
    A simple LESS loop to set up the CSS vars.
  
    Output will be something like
    .panels--1 { --items: 1; }
    .panth:nth-child(1) { --i: 1; }
    .panels--2 { --items: 2; }
    .panth:nth-child(2) { --i: 2; }
  
    ..up to the total number provided.
    */
    .panel:nth-last-child(n + 1),
    .panel:nth-last-child(n + 1) ~ .panel {
      --items: 1;
    }
    .panel:nth-child( 1) {
      --i: 1;
    }
    .panel:nth-last-child(n + 2),
    .panel:nth-last-child(n + 2) ~ .panel {
      --items: 2;
    }
    .panel:nth-child( 2) {
      --i: 2;
    }
    .panel:nth-last-child(n + 3),
    .panel:nth-last-child(n + 3) ~ .panel {
      --items: 3;
    }
    .panel:nth-child( 3) {
      --i: 3;
    }
    .panel:nth-last-child(n + 4),
    .panel:nth-last-child(n + 4) ~ .panel {
      --items: 4;
    }
    .panel:nth-child( 4) {
      --i: 4;
    }
    .panel:nth-last-child(n + 5),
    .panel:nth-last-child(n + 5) ~ .panel {
      --items: 5;
    }
    .panel:nth-child( 5) {
      --i: 5;
    }
    .panel:nth-last-child(n + 6),
    .panel:nth-last-child(n + 6) ~ .panel {
      --items: 6;
    }
    .panel:nth-child( 6) {
      --i: 6;
    }
    .panel:nth-last-child(n + 7),
    .panel:nth-last-child(n + 7) ~ .panel {
      --items: 7;
    }
    .panel:nth-child( 7) {
      --i: 7;
    }
    .panel__content {
      position: absolute;
      top: -1%;
      left: 0%;
      z-index: auto;
      transform: translateX(calc( var(--percent) * 1% ));
      background-color: #000000;
    }
    .panel__content:before {
      background: inherit;
      transform: translateX(-50%) translateX(calc(100% / var(--items) * 0.5 ));
    }
    .panel__content,
    .panel__content:before {
      transition: transform 0.4s cubic-bezier(0.44, 0, 0, 1);
    }
    /* When there's an active hover on the container. This will apply to all panels in the container, unless overridden */
    .panels:hover .panel__content {
      z-index: auto;
      transform: translateX(0%);
    }
    /* Panels after the hovered panel */
    .panel:hover ~ .panel .panel__content {
      transform: translateX(100%);
    }
    /* The active panel */
    .panel:hover .panel__content,
    .panel:focus .panel__content {
      transform: translateX(0%);
    }
    .panel:hover .panel__content:before,
    .panel:focus .panel__content:before {
      transform: translateX(0%) scale(1.2);
    }
    .panel:focus .panel__content,
    .panel:focus .panel__content:before {
      transition: none !important;
    }
  }
  /* 
  //////////////////////////////////////
  STYLISTIC CHOICES
  //////////////////////////////////// 
  */
  .panels {
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.6);
    height: 90vh;
    margin: 0vh auto;
    
    
   }
  .panels:first-child {
    margin: 0vh auto;
    height: 100vh; 
  }
  /* Set up the background images */
  .panel:nth-child( 6) {
    background-image: url( '/static/images/claws/EAGLE-CLAWS–BEIGE.jpg' );
  }
  .panel:nth-child( 5) {
    background-image: url( '/static/images/claws/tiger-claws-yellow.jpg' );
  }
  .panel:nth-child( 4) {
    background-image: url( '/static/images/claws/TALON-CLAWS–RED.jpg' );
  }
  .panel:nth-child( 3) {
    background-image: url( '/static/images/claws/PANTHER-CLAWS\ –BLACK.jpg' );
  }
  .panel:nth-child( 2) {
    background-image: url( '/static/images/claws/BABY-CLAWS–BLUE.jpg' );
  }
  .panel:nth-child( 1) {
    background-image: url( '/static/images/claws/orange-claws-orange.jpg' );
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.claw {
--z-index: 5;
text-align: center;
mix-blend-mode:difference;
color: white;
font-family: 'Bebas Neue', Helvetica;
font-size: 90px;
font-style:normal;
font-weight: 5000;
height: auto;
left: 351px;
letter-spacing: 0.00px;
line-height: normal;
opacity: 1;
position: absolute;
top: 350px;
white-space: nowrap;
width: 105px;
}

.hd{
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
}

.aligment{
  text-align: center;
  background-color: #ffffff;
  width: 100px;
  
}
.header  {
  --z-index: 9;
  background-color: transparent;
  color: #000000;
  font-family: 'Bebas Neue', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  text-align: center;
  opacity: 1;
  position: relative;
  top: 62px;
  white-space: nowrap;
 
  }


  .panual{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 1px;
  color: #000000;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  top: 2750px;
  padding-right: 150px;
  margin-top: 10px;
  padding-top: 50px;
  }

.panual1{height:10px;
  position: relative;
  width: 100vh;
  top: -10vh;
  left: 8vh;
  
}
.contained{
  width: 50%;
    float: left;
    padding: -7px;

}
/*-----------------recently launched--------------------*/

.main {
  height:0px;
  width: 1400px;
  z-index: 13;
  margin: 104vh auto;
  padding: 1vh;
  z-index: 20;
  border-bottom: 1px solid #444444;
}

.container {
  width: 1400px;
  height: 520px;
  border: none;
  white-space: nowrap;
  z-index: 13;
}

.item {
  border: none;
  min-width: 10px;
  margin-left: 30px;
  border-radius: 10px;
  -webkit-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  -moz-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  margin: 60px 0px 60px 0px;
  background-color: #fff;
  z-index: 13;
}

/* Inline-block */
.inline {
  vertical-align: middle;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 70px;
  z-index: 13;
  top: -40vh;
}
.inline-item {
  display: inline-block;
  vertical-align: middle;
  height: 340px;
  margin-right: -4px;
  z-index: 13;
}


/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.contain {
   display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: self-end;
  gap: 20px;
  margin-top: 1em;
  padding-left: 6em;
      }
      
.product-card {
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  -moz-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  margin: 60px 0px 60px 0px;
  background-color: #fff;
 }
      
.product-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  top:-70px;
  padding: 10px;
  
  }
      
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 10px;
  mix-blend-mode: multiply;
  }
      
 .product-image:hover img {
  transform: scale(1.1);
        
  }
      
 .product-details {
   padding: 20px;
   margin-top:-90px;
   }
      
 .title {
  font-size: 1rem;
  margin-bottom: 10px;
  }
      
.price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  }
      
.product-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
   }
      
.product-details.expand {
  height: auto;
 }
      
.product-details .expand-button {
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
  }
      
.product-details .expand-button:hover {
  color: #000;
  text-decoration: underline;
  }
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
      
.view{
  width: 250px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  }
      
.view {
  background-color: #000000;
  }
      
.compare {
  background-color: #CAC531;
  color:#fff;
  }
      
.view:hover{
  opacity: 0.8;
  }
      
/*--------------end-----------------------*/
/*////////////////////branding////////////////////////*/

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}
.slid {
  background: #E3E3E3;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin:0,10px, auto;
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%;

}
.slid::before, .slid::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slid::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slid::before {
  left: 0;
  top: 0;
}
.slid .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slid .slide {
  height: 100px;
  width: 250px;
}

.slideshow {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.slideshow.show {
  opacity: 1;
  visibility: visible;
}


/*//////////////////////end barnding/////////////////////////////*/
/*//////////////////////cart page/////////////////////////////*/
.carts-image {
  float: left;
  width: 200px;
}
.carts-details {
  float: left;
  width: 37%;
}
.carts-price {
  float: left;
  width: 12%;
}
.carts-quantity {
  float: left;
  width: 10%;
}
.carts-removal {
  float: left;
  width: 9%;
}
.carts-line-price {
  float: left;
  width: 12%;
  text-align: right;
}
/* This is used as the traditional .clearfix class */
.group:before, .shop-cart:before, .column-labels:before, .carts:before, .totals-item:before, .group:after, .shop-cart:after, .column-labels:after, .carts:after, .totals-item:after {
  content: '';
  display: table;
}
.group:after, .shopg-cart:after, .column-labels:after, .carts:after, .totals-item:after {
  clear: both;
}
.group, .shop-cart, .column-labels, .carts, .totals-item {
  zoom: 1;
}
/* Body/Header stuff */

h1 {
  font-weight: 100;
}
label {
  color: #aaa;
}
.shop-cart {
  margin-top: 180px;
}
/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .carts-image, .column-labels .carts-details, .column-labels .carts-removal {
  text-indent: -9999px;
}
/* carts entries */
.carts {
  margin-bottom: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #eee;
}
.carts .carts-image {
  text-align: center;
}
.carts .carts-image img {
  width: 200px;
}
.carts .carts-details .carts-title {
  margin-right: 20px;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.carts .carts-details .carts-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.carts .carts-quantity input {
  width: 400px;
  background-color: #000;
}
.product-quantity{ 
  border: 0;
  padding: 4px 28px;
  margin: 10px 15px;}

.carts .remove-carts {
  border: 0;
  padding: 4px 28px;
  margin: 10px 15px;
  background-color: #c66;
  color: #fff;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
  font-size: 12px;
  border-radius: 3px;
}

.carts .update-carts {
  border: 0;
  padding: 4px 8px;
  margin: 0px 15px;
  background-color: #c66;
  color: #fff;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
  font-size: 12px;
}
.carts .remove-carts:hover {
  background-color: rgb(255, 0, 0);
}
.carts .update-carts:hover {
  background-color: rgb(68, 170, 71);
}
/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.checkout {
  float: right;
  border: 0;
  margin: 25px 0px 85px;
  padding: 6px 25px;
  background-color: #c66;
  color: #000000;
  font-size: 25px;
  border-radius: 3px;
}
.checkout:hover {
  background-color: #000000;
}
    
    /*------------end of cart page---------------*/
    
/*-------footer----------*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  width:100%;
  max-width: 2000px;
  min-width: 1450px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.heade {
    padding: 90px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 4vw)
  );
}

.layout {
    width: 100%;
    margin: 4em 0em 9em;
    padding: -1em 2em 2em 2em;
    display: flex;
    }
.user-profile {
    padding-left: 50px;
}
.line{
    display: block;
  background: #ffffff;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575
}
.name {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 1.5rem 0px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    }
